:root{
  --purple50: hsl(264deg 45.45% 93.53%);
  --purple100: hsl(261.08deg 45.68% 84.12%);
  --purple200: hsl(261.29deg 46.27% 73.73%);
  --purple400: hsl(261.87deg 46.72% 55.1%);
  --purple800: hsl(254.88deg 60.8% 39.02%);
  --white-color: hsl(0deg 0% 100%);
  --black30: hsl(0deg 0% 18.82%);
  --black77: hsl(0deg 0% 46.67%);
  --black2B: hsl(0deg 0% 16.86%);
  --blackF1: hsl(0deg 0% 94.51%);


  box-sizing: border-box;

  font-size: calc(1vw + 0.6em); 


}

*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--black77);
    height: 1000px;
    margin: 0;
    
}
/* 
modules styles */
.header{
  position: fixed;
}
.header-nav{
  padding: 0.5em 1em;
}
 